.DS_Store
build
*.pbxuser
*.perspectivev3
*.mode1v3
*.lock
.svn
UserInterfaceState.xcuserstate
xcuserdata
*.class
*.swp
.pyc

*.a
include/
mbedtls-demo/mbedtls-demo.xcodeproj/project.xcworkspace/
mbedtls-demo/mbedtls-demo.xcodeproj/xcuserdata/
